
@font-face {
    font-family: ProximaNova;
    src: url('./assets/fonts/Proxima.ttf');
}

body {
	text-align: center;
}

.main-idea {
	font-family: 'ProximaNova', sans-serif;
	text-transform: uppercase;
	margin: 80px 0;
}
.full-name {
	letter-spacing: 2px;
	font-size: 60px;
	line-height: 1em;
	margin: 16px 0;
}	
.attributes {
	letter-spacing: 2px;
	font-size: 40px;
	line-height: 1em;
	margin: 16px 0;
}	

img {
	width: 80%;
}

li {
	font-family: Helvetica, sans-serif;
	text-align: center;
	list-style: none;
}

.nav_link {
	text-decoration: none;
    font-family: 'ProximaNova', sans-serif;
    text-transform: uppercase;
    color: black;
    font-size: 12px;
    padding: 0 1em;
    letter-spacing: 2px;
}

.nav_link.active_link,
.nav_link:hover {
	color: #a8a8a8;
}

.nav_wrapper {
  	margin: 40px 0;
}

